body {
	margin: 0;
	background-color: #f2f1ed;
}

#header {
	text-align: center;
	background-image: url("images/headerbg.png");
}

#whatdo {
	height: 250px;
	width: 100%;
	color: #fff;
	font: italic 28px 'Source Sans Pro', sans-serif;
	font-weight: 100;
	font-variant:small-caps;
}

#whatdoleft {
	background-color: #b44140;
	float: left;
	height: 250px;
	width: 50%;
	border-bottom-style: solid;
	border-bottom-color: #8e3332;
}

#whatdoright {
	background-color: #c44f4e;
	float: left;
	height: 250px;
	width: 50%;
	border-bottom-style: solid;
	border-bottom-color: #b44140;
}

.whatdotext {
	width: 380px;
	margin: 30px 0px 0 20px;
	float:  left;
}

.whatdoimage {
	float: left;
	margin: 30px 0 0 0;
}

#leftcontent {
	width: 50%;
	float: left;
}

#rightcontent {
	width: 50%;
	float: left;
}

h2 {
	text-align: center;
	font: italic 50px 'Source Sans Pro', sans-serif;
	font-weight: 100;
	font-variant:small-caps;
	color: #c44f4e;
}

#content {
	background-color: #f2f1ed;
}

.station {
	width: 480px;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 5px 10px 10px 10px;
	border: 1px solid #e4e4e4;
	margin: 0 0 30px 50px;
	float: left;
}

.stationPrice {
	font-size: 40px;
	color: #48c268;
	float: left;
	margin: 8px 20px 0 5px;
}

.stationInfo {
	float: left;
	width: 225px;
}

.stationTitle {
	font-size: 32px;
	float: left;
	color: #474747;
	width: 300px;
}

.stationAddress {
	font-size: 18px;
	font-style: italic;
	float: left;
	color: #474747;
	width: 225px;
}

.stationRating {
	color: #c44f4e;
	font-size: 50px;
	float: right;
}

#graphs{
	background-color: #eaeae5;
}

#footer {
	height: 100px;
	background-color: #444;
	width: 100%;
	float: left;
	text-align: center;
	font-size: 24px;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}
#stabby {
}

#stab2 {
	position: absolute;
	margin-top: -185px;
	margin-left: 20px;
}

.demo-container {
	float: left;
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	float: left;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}